@font-face {
  font-family: 'Hubot Sans';
  src:
    url('../fonts/hubot/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('../fonts/hubot/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

:root {
  --yellow: rgba(255,212,121,1);
  --primary: var(--yellow);
  --secondary: white;
  --tertiary: var(--yellow);
  --quaternary: white;
}

body {
  color: white;
  height: 100vh;
  width: 100vw;
}

.people {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 40px;
}

.person {
  width: 100%;
} 

.person-name {
  font-family: 'Hubot Sans';
  font-variation-settings: 'wght' 600, 'wdth' 25;
  text-transform: uppercase;
  color: var(--primary);
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
              0px 8px 13px rgba(0,0,0,0.1),
              0px 18px 23px rgba(0,0,0,0.1);  
  font-size: clamp(2em, 4vw, 75px);
  line-height: 100%;
  animation-fill-mode: backwards;
  animation: bounceInUp;
  animation-duration: 2s;
}

.person-title {
  font-family: 'Community';
  font-weight: 100;
  font-size: clamp(26px, 2vw, 55px);
  line-height: 100%;
  color: var(--secondary);
  text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}
.social-linkedin {
  padding-top: 10px;
  font-family: 'Community';
  font-weight: 100;
  font-size: clamp(15px, 2vw, 35px);
  color: var(--tertiary);
  text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
  line-height: 100%;
}